@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bruv;
  src: url(/font/Poppins-Regular.ttf);
}

.Bruv {
  font-family: Bruv;
}

@font-face {
  font-family: Poppin;
  src: url(/font/Poppins-Light.ttf);
}

.Poppin {
  font-family: Poppin;
}

@font-face {
  font-family: Blud;
  src: url(/font/Poppins-Bold.ttf);
}

.Bold {
  font-family: Blud;
}

@font-face {
  font-family: Zah;
  src: url(/font/Zaptron-Regular.otf);
}

.Zah {
  font-family: Zah;
}

:root {
  font-family: Poppin, Bruv, Blud, Zah;
  line-height: 1.5;
  font-weight: 400;

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #40196d;
  }

  ::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
  }
}
